
.appBar {
  border-radius: 15px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftImage {
  
  margin-left: 230px; 
}

.centerImage {
  align-items: center;
}

.rightText {

 margin-left: 380px; 
 margin-top: -25px; 
}
